<ActionBar class="action-bar">
    <!-- 
    Use the NavigationButton as a side-drawer button in Android
    because ActionItems are shown on the right side of the ActionBar
    -->
    <NavigationButton ios:visibility="collapsed" icon="res://menu" (tap)="onDrawerButtonTap()"></NavigationButton>
    <!-- 
    Use the ActionItem for IOS with position set to left. Using the
    NavigationButton as a side-drawer button in iOS is not possible,
    because its function is to always navigate back in the application.
    -->
    <ActionItem icon="res://navigation/menu" android:visibility="collapsed" (tap)="onDrawerButtonTap()"
        ios.position="left">
    </ActionItem>
    <Label class="title" text="Bus"></Label>
</ActionBar>
<StackLayout>
<SearchBar hint="Search by destination name" class="butn_bus" (submit)="onSubmit($event)" (clear)="onClear($event)" ></SearchBar>

<ListView [items]="buses">
    <ng-template let-item="item">
        <GridLayout columns="*,*" rows="*,*,*,*">
            <Label class="bus_title" col="0" row="0" text="Route No:  "></Label>
            <Label class="bus_description" col="1" row="0" [text]="item.route"></Label>
            <Label class="bus_title" col="0" row="1" text="Destination:  "></Label>
            <Label class="bus_description"  col="1" row="1" [text]="item.destination"></Label>
            <Label class="bus_title" col="0" row="2" text="Next Bus:  "></Label>
            <Label class="bus_description"  col="1" row="2" [text]="item.nextBus"></Label>
            <Label class="bus_title" col="0" row="3" text="Last Bus:  "></Label>
            <Label class="bus_description"  col="1" row="3" [text]="item.lastBus"></Label>
        </GridLayout>
    </ng-template>
</ListView>
</StackLayout>