<ActionBar class="action-bar">
    <NavigationButton ios:visibility="collapsed" icon="res://home" (tap)="onBackTap()"></NavigationButton>
    <ActionItem icon="res://navigation/home" android:visibility="collapsed" (tap)="onBackTap()" ios.position="left"></ActionItem>
    <Label class="action-bar-title" text="View Feedback"></Label>
</ActionBar>

<GridLayout class="page page-content">
    <ListView [items]="feedback" class="list-group">
        <ng-template let-rule="item" let-i="index" let-odd="odd" let-even="even">
            <!-- The item template can only have a single root view container (e.g. GridLayout, StackLayout, etc.)-->
            <StackLayout orientation="vertical" class="list-group-item">
                <Label [textWrap]="true" [text]="rule.description"></Label>
                <!-- (tap)="toggle($event)" -->
                <label [text]="rule.email"></label>
                <label [text]="rule.date"></label>
            </StackLayout>
        </ng-template>
    </ListView>
</GridLayout>