
<ActionBar class="action-bar">
    <!-- 
    Use the NavigationButton as a side-drawer button in Android
    because ActionItems are shown on the right side of the ActionBar
    -->
    <NavigationButton ios:visibility="collapsed" icon="res://menu" (tap)="onDrawerButtonTap()"></NavigationButton>
    <!-- 
    Use the ActionItem for IOS with position set to left. Using the
    NavigationButton as a side-drawer button in iOS is not possible,
    because its function is to always navigate back in the application.
    -->
    <ActionItem icon="res://navigation/menu" android:visibility="collapsed" (tap)="onDrawerButtonTap()"
        ios.position="left">
    </ActionItem>
    <Label class="title" text="Cafeteria"></Label>
</ActionBar>

<GridLayout class="page page-content">
    
    <ListView [items]="cafe" (itemTap)="onItemTap($event)" class="list-group">
    <ng-template let-cafe="item" let-i="index" let-odd="odd" let-even="even">
        <!-- Display all the cafetarias in UoM-->
        <GridLayout rows="220, auto" columns="*, *, *" >
            <Image src="~/app/images/foodmain.jpg" colSpan="3" stretch="aspectFill" row="0" ></Image>
            <Label horizontalAlignment="center" row="0" colSpan="2" textWrap="true" verticalAlignment="center" class="titlecafe" [text]="cafe.name"></Label>

   </GridLayout>
        
    </ng-template>
</ListView>

</GridLayout>

