<ActionBar class="action-bar">
    <!-- 
    Use the NavigationButton as a side-drawer button in Android
    because ActionItems are shown on the right side of the ActionBar
    -->
    <NavigationButton ios:visibility="collapsed" icon="res://menu" (tap)="onDrawerButtonTap()"></NavigationButton>
    <!-- 
    Use the ActionItem for IOS with position set to left. Using the
    NavigationButton as a side-drawer button in iOS is not possible,
    because its function is to always navigate back in the application.
    -->
    <ActionItem icon="res://navigation/menu" android:visibility="collapsed" (tap)="onDrawerButtonTap()"
        ios.position="left">
    </ActionItem>
    <Label class="title" text="CPA Calculator"></Label>
</ActionBar>


<GridLayout class="page page-content">
 

	<StackLayout >


        <StackLayout orientation="horizontal">
            <Label class="title" text="CPA :" textWrap="true"  ></Label>
            <Label  class="title" textWrap="true" [text]="cpaScore"></Label>
             <Label  class="title" textWrap="true" text="%"></Label>
        </StackLayout>
        <Button text="Calculate CPA" class="btn btn-primary btn-active butn" (tap)="calculatecpa()"></Button>
    	<StackLayout class="hr-dark"></StackLayout>
        <ScrollView>
    		<StackLayout>
    			
    			<Button id="addmodule" text="Add Module" class="btn btn-primary btn-active butn" (tap)="addmodule()"></Button>
                <StackLayout class="butn_cpa" id="modules" #stack>
                    
                </StackLayout>
    		</StackLayout>
    
    	   </ScrollView>
            </StackLayout>
     
</GridLayout>