<ActionBar class="action-bar">
        <!-- 
    Use the NavigationButton as a side-drawer button in Android
    because ActionItems are shown on the right side of the ActionBar
    -->
    <NavigationButton ios:visibility="collapsed" icon="res://menu" (tap)="onDrawerButtonTap()"></NavigationButton>
    <!-- 
    Use the ActionItem for IOS with position set to left. Using the
    NavigationButton as a side-drawer button in iOS is not possible,
    because its function is to always navigate back in the application.
    -->
    <ActionItem icon="res://navigation/menu" android:visibility="collapsed" (tap)="onDrawerButtonTap()"
        ios.position="left">
    </ActionItem>
    <Label class="action-bar-title" text="Password Reset"></Label>
</ActionBar>
<ScrollView>
    <StackLayout class="page p-t-15">

        <Label class="h3 p-15" text="Enter your email and check your inbox and spam after tapping on the reset button." textWrap="true"  ></Label>

        <TextField class="m-t-10 m-b-10 m-l-15 m-r-15" hint="Email Address" keyboardType="email" autocorrect="false" autocapitalization="none" type="email"
            class="input" [(ngModel)]="email"></TextField>

        <Button class="btn btn-primary" text="Reset Password" (tap)="onResetPasswordButtonTap()"></Button>
    </StackLayout>
</ScrollView>
