<ActionBar class="action-bar">
    <Label class="title" text="Cafetaria Admin"></Label>
</ActionBar>

<GridLayout class="page page-content food-back">
    <StackLayout horizontalAlignment="center"  verticalAlignment="center">
        <Button text="View Order" class="btn btn-primary butn" (tap)="vieworder()"></Button>
        <Button text="Add Cafe News" class="btn btn-primary butn" (tap)="addnews()"></Button>
        <Button text="Update User Credits" class="btn btn-primary butn" (tap)="addcredits()"></Button>
        <Button text="Log out" class="btn btn-primary butn" (tap)="logout()"></Button>

    </StackLayout>
</GridLayout>