<ActionBar class="action-bar">
    <Label class="action-bar-title" text="Cafetaria Admin"></Label>
</ActionBar>

<GridLayout class="page page-content">
    <StackLayout>
        <Button text="View Order" class="btn btn-active" (tap)="vieworder()"></Button>
        <Button text="Add Cafe News" class="btn btn-active" (tap)="addnews()"></Button>
        <Button text="Update User Credits" class="btn btn-active" (tap)="addcredits()"></Button>
        <Button text="Log out" class="btn btn-active" (tap)="logout()"></Button>

    </StackLayout>
</GridLayout>