<ActionBar class="action-bar">
    <Label class="title" text="Admin"></Label>
</ActionBar>

<GridLayout class="page page-content adminpanel">
    <StackLayout orientation="vertical" horizontalAlignment="center" verticalAlignment="center">
        <Button text="Add News" class="btn btn-primary butn" width="250"  (tap)="onNewsButtonTap()"></Button>
        <Button text="Add Event" class="btn btn-primary butn" width="250" (tap)="onEventButtonTap()"></Button>
        <Button text="View Feedback"  class="btn btn-primary butn" width="250" (tap)="onFeedbackButtonTap()"></Button>
        <Button text="Log Out" class="btn btn-primary butn" width="250" (tap)="onLogoutButtonTap()"></Button>
    </StackLayout>    
</GridLayout>