// Place any CSS rules you want to apply on both iOS and Android here.
// This is where the vast majority of your CSS code goes.
// Font icon class
.fa {
    font-family: "FontAwesome";
}
// Common page class
.butn 	{
	font-family: "Montserrat-Medium";
}

.butnn 	{
	font-family: "Montserrat-Medium";
	color:white;
}
.butn_login 	{
	font-family: "Montserrat-Medium";
	text-decoration: underline; 
	text-color:#ADD8E6;
	text-align:center;
}
.butn_forget 	{
	font-family: "Montserrat-Medium";
	text-color:#ADD8E6;
	text-align:center;
}

.butn_cpa 	{
	font-family: "Montserrat-Medium";
	
	text-align:center;
}

.butn_bus 	{
	font-family: "Montserrat-Medium";
	font-size:12px;
}


.title	{
	font-family: "Montserrat-Medium";
	font-weight: bold;
	font-size:17px;
	padding-left: 15px;
	    
}

.titlecafe	{
	font-family: "Montserrat-Medium";
	font-weight: bold;
	font-size:25%;
	color:white;
	    
}
.titlefood	{
	font-family: "Montserrat-Medium";
	color:white;
	background-color:blue;
	margin:15px;
	padding-bottom: 15px;
	text-align: center;
	font-weight: bold;
	font-size:25px;
	
	    
}
.title_rules	{
	font-family: "Montserrat-Medium";
	font-weight: bold;
	font-size:15px;

	    
}



.sidedrawer_item {
	font-family: "Montserrat-Medium";
	font-size:13px;
}
.bus_title {

	font-family: "Montserrat-Medium";
	font-weight: bold;
	font-size:13px;

}

.bus_description  {
	
	font-family: "OpenSans-Light";
	font-size:13px;
}

.cafe_description  {
	
	text-align:left;
	font-family: "OpenSans-Light";
	font-size:14px;
	padding-left:10px;
}
.news_description  {
	text-align:left;
	font-family: "OpenSans-Light";
	font-size:14px;
	padding-left:10px;
}

.news_descriptions  {
	text-align:left;
	font-family: "OpenSans-LightItalic";
	font-size:11px;
	
}

.menu_descriptions  {
	
	font-family: "OpenSans-LightItalic";
	font-size:13px;
	
}


.coverImage {
    background-image: 'http://tineye.com/images/widgets/mona.jpg';
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}



.page-content {
    .page-placeholder {
        color: $page-icon-color;
        font-size: $page-content-placeholder-font-size;
        vertical-align: center;
        horizontal-align: center;
    }

    .page-icon {
        font-size: 72;
        vertical-align: top;
        horizontal-align: center;
        color: $page-icon-color;
        margin-top: 20%;
    }
}

.my-bar {
    filter: blur(8px);
    display: block;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url("~/app/images/back.jpg");
}

.food-back{
    filter: blur(8px);
    display: block;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url("~/app/images/foodadmin.jpg");
}

.cafemenu{
    filter: blur(8px);
    display: block;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url("~/app/images/cafemenu.jpg");
}

.food-back2{
    filter: blur(8px);
    display: block;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url("~/app/images/foodadmin2.jpg");
}

.adminpanel{
    filter: blur(8px);
    display: block;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url("~/app/images/adminpanel.jpg");
}

.adminevent{
    filter: blur(8px);
    display: block;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url("~/app/images/adminevent.jpg");
}

.adminnews{
    filter: blur(8px);
    display: block;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url("~/app/images/newsadmin.jpg");
}

.food-back3{
    padding-top:50px;
    filter: blur(8px);
    display: block;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url("~/app/images/foodadmin3.jpg");
}

.lo-gin{
    filter: blur(8px);
    display: block;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url("~/app/images/login.jpg");
}
//Action bar
ActionBar .action-bar-title {
    horizontal-align: center;
}

 // Drawer navigation custom styles
$sidedrawer-header-image-size: 60;
$sidedrawer-header-image-offset-top: 20;
$sidedrawer-header-image-offset-bottom: 5;
$sidedrawer-list-item-offset-left: 15;
$sidedrawer-list-icon-offset: 10;
$sidedrawer-list-icon-size: 20;

.sidedrawer {
    &.sidedrawer-left {
        background-color: $ab-background;

        .sidedrawer-header-image {
            color: $background-dark;
            height: $sidedrawer-header-image-size;
            width: $sidedrawer-header-image-size;
            font-size: $sidedrawer-header-image-size;
            padding: 0;
            margin-bottom: $sidedrawer-header-image-offset-bottom;
            margin-top: $sidedrawer-header-image-offset-top;
        }

        .footnote {
            color: rgba($ab-color, 0.5);
        }
    }

    .sidedrawer-header {
        background-color: $ab-background;

        .sidedrawer-header-brand {
            color: $ab-color;
        }
    }

    .sidedrawer-content {
        background-color: $side-drawer-background;

        $sidedrawer-list-item-offset-left: 15;
        $sidedrawer-list-icon-offset: 10;
        $sidedrawer-list-icon-size: 20;

        .sidedrawer-list-item {
            padding-left: $sidedrawer-list-item-offset-left;
            Label {
                vertical-align: center;
                color: $blue-dark;
            }
            .fa {
                width: $sidedrawer-list-icon-size;
                margin-right: $sidedrawer-list-icon-offset;
            }
            &.selected {
                background-color: $item-active-background;
                Label {
                    color: $item-active-color;
                }
            }
        }
    }
}
