<ActionBar class="action-bar">
    <NavigationButton ios:visibility="collapsed" icon="res://home" (tap)="onBackTap()"></NavigationButton>
    <ActionItem icon="res://navigation/home" android:visibility="collapsed" (tap)="onBackTap()" ios.position="left"></ActionItem>
    <Label class="title" text="Add Event"></Label>
</ActionBar>

<GridLayout class="page page-content">
    <StackLayout orientation="vertical" verticalAlignment="center">
        <TextField class="m-t-10 m-b-10 m-l-15 m-r-15 butn" hint="Title" autocorrect="false" autocapitalization="none"
            [(ngModel)]="title"></TextField>
        <TextField class="m-t-10 m-b-10 m-l-15 m-r-15 butn" hint="Organiser" autocorrect="false" autocapitalization="none"
            [(ngModel)]="author"></TextField>
        <TextView  hint="Description" editable="true" class="input input-border m-t-10 m-b-10 m-l-15 m-r-15 butn" autocorrect="false"
            [(ngModel)]="description"></TextView>
            

        <Button class="btn btn-primary butn" text="Next" (tap)="onNextTap()"></Button>
        <Button class="btn btn-primary butn" text="Cancel" (tap)="onBackTap()"></Button>
    </StackLayout>   
</GridLayout>