<ActionBar class="action-bar">
    <Label class="action-bar-title" text="Add News"></Label>
</ActionBar>

<GridLayout class="page page-content">
    <StackLayout orientation="vertical">
        <Button text="Add News" backgroundColor="#00FFFF" width="250" height="50" margin="20"></Button>
        <Button text="Add Event" backgroundColor="#00FFFF" width="250" height="50" margin="20"></Button>
        <Button text="View Feedback" backgroundColor="#00FFFF" width="250" height="50" margin="20"></Button>
        <Button text="Log Out" backgroundColor="#00FF4D" width="250" height="50" margin="20"></Button>
    </StackLayout>    
</GridLayout>