<ActionBar class="action-bar">
    <!-- 
    Use the NavigationButton as a side-drawer button in Android
    because ActionItems are shown on the right side of the ActionBar
    -->
    <NavigationButton ios:visibility="collapsed" icon="res://menu" (tap)="onDrawerButtonTap()"></NavigationButton>
    <!-- 
    Use the ActionItem for IOS with position set to left. Using the
    NavigationButton as a side-drawer button in iOS is not possible,
    because its function is to always navigate back in the application.
    -->
    <ActionItem icon="res://navigation/menu" android:visibility="collapsed" (tap)="onDrawerButtonTap()"
        ios.position="left">
    </ActionItem>
    <Label class="title" text="Settings"></Label>
</ActionBar>

<GridLayout class="page page-content">
    <ScrollView>
        <StackLayout margin="10" verticalAlignment="center">
            <StackLayout class="form" padding="15" backgroundColor="#FFFFFF">
                <StackLayout class="butn">
                    <Label text="First Name" class="label font-weight-bold m-b-5"></Label>
                    <TextField class="input" [(ngModel)]="this.curUser.fname"></TextField>
                    <StackLayout class="hr-light"></StackLayout>
                </StackLayout>
                <StackLayout class="butn">
                    <Label text="Last Name" class="label font-weight-bold m-b-5"></Label>
                    <TextField class="input" [(ngModel)]="this.curUser.sname"></TextField>
                    <StackLayout class="hr-light"></StackLayout>
                </StackLayout>
                <StackLayout class="butn">
                    <Label text="Course" class="label font-weight-bold m-b-5"></Label>
                    <TextField class="input" [(ngModel)]="this.curUser.course"></TextField>
                    <StackLayout class="hr-light"></StackLayout>
                </StackLayout>
                <StackLayout class="butn">
                    <Label text="Phone Number" class="label font-weight-bold m-b-5"></Label>
                    <TextField class="input" [(ngModel)]="this.curUser.phone"></TextField>
                    <StackLayout class="hr-light"></StackLayout>
                </StackLayout>
                <Button class="butn btn-primary w-full" text="Save" (tap)="save()"></Button>
                <Button (tap)="goBack()" text="cancel" class="butn btn-primary w-full"></Button>
            </StackLayout>
        </StackLayout>
    </ScrollView>
</GridLayout>